.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 85px;
  min-height: 85px;
  max-height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  background-color: #282c34;
  height: 125px;
  min-height: 125px;
  max-height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.blurb {
  padding: 5px;
  width: 80%;
  align-items: center;
  justify-content: center;
  color: gray;
  margin: 0 auto;
}

.content {
  align-content: center;
}

footer {
  padding: 20px;
}

.tech-image {
  width: 50px;
}

.movieComponent {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.movieField {
  font-weight: 11;
}

.movieImage {
  margin: 5px; 
  width: 250px;
  border: 0;
}

.errorMessage {
  color: red;
}

.component {
  padding: 5px;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sortMenu {
  padding: 5px;
}
